<head>
    <style>
        .nav_here {
            font-size: 20px;
            font-weight: 500;
            background: black;
            color: white;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
        }

        .p_class{
            font-size: 25px;
            font-weight: bold;
            align-items: center;
            text-align: center;
            margin-top: 100px;
        }

        .up_btn {
            color: white;
            background-color: black;
            font-weight: 500;
            border: none;
            padding: 7px 12px;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;
            margin-top: 55px;
            width: 100%;
        }

        .up_btn:hover {
            background-color: white;
            color: black;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light nav_here">
        <div>UNLOCKED</div>
    </nav>
    <section class = "container">
        <p class="p_class">WELCOME USER, YOUR SCREEN WAS UNLOCKED</p>
    <div>
        <a class="btn up_btn" href="/">CLICK HERE TO GO BACK TO LOCK SCREEN</a>
    </div>
    </section>
</body>
